@import "mixins";
@import "vars";

.content {
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 10%;
}

.section-pad {
	padding-top: 4em;
	padding-bottom: 4em;
}

.hero {
	width: 100%;
	background-color: $orange;
	height: 25em;
}

	.hero-image-container {
		width: 100%;
		height: 100%;
		position: relative;
		background-color: green;
	}

		.hero-image {
			width: 60%;
			height: 100%;
			margin-left: 40%;
			background-color: $yellow;
		}

	.hero-content-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: lightblue;
	}

.content-container {
	width: 100%;
	height: 100%;
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 10%;
	display: table;
}

	.content-container-inner {
		width: 100%;
		height: 100%;
		padding-right: 50%;
		display: table-cell;
		vertical-align: middle;

		.title-name {
			text-transform: uppercase;
			display: inline-block;
			margin-bottom: 2em;
			color: darken($pink, 60%);
		}

		h1 {
			font-size: 6em;
			line-height: 1;
			margin-bottom: .25em;
			border-bottom: 0px solid black;
			font-weight: bold;
			-webkit-animation:colorchange 10s infinite alternate;
			font-family: $headline-font;
			position: relative;
		}
	}

	.linkbox {
		width: 100%;
		background-color: red;
	}

    @-webkit-keyframes colorchange {
      0%  {color:  $col0; border-color:  $col0;}
      50% {color: $col50; border-color: $col50;}
      100% {color: $col100; border-color: $col100;}
    }