$black: black;
$white: white;
$grey: grey;
$red: red;
$green: green;
$blue: blue;
$orange: orange;
$yellow: #FCFF8A;
$pink: #F29B90;

///

$body_background_color: $pink;
$body_background_image: url("../../images/bfg.jpg");

$headline-font: "Arial Black", Gadget, sans-serif;
$headline-weight: 700;

$body-font: Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;
