$black: black;
$white: white;
$grey: grey;
$red: red;
$green: green;
$blue: blue;
$orange: orange;
$yellow: #FCFF8A;
$pink: #F29B90;

	$col0: #FCFF8A;
	$col50: #5FFFC8;
	$col100: #ABC3FF;

///

$body_background_color: darken($white, 5%);
$body_background_image: url("../../images/bng.jpg");

$headline-font: "headerfonts", "Arial Black", Gadget, sans-serif;
$headline-weight: 700;

$body-font: "bodyfonts", Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;
